body {
  background: rgb(0, 32, 50);
  margin: 0;
}
* {
  box-sizing: border-box;
  scrollbar-color: var(--theme-blue) black;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--theme-blue);
  border-radius: 2.5px;
  border: 0px solid white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.searchPage,
.homePage,
.aboutPage {
  display: flex;
  flex-direction: column;
  margin: 15vh auto 0 auto;
  overflow-y: scroll;
  overflow: hidden;
}
