.popular-streams {
  color: white;
  font-family: 'Trebuchet MS';
}
.homeContainer {
  display: flex;
  flex-direction: row;
  margin: 2em 8vw 0 20vw;
  gap: 1.25em;
}
.loading {
  font-family: 'Trebuchet MS';
  color: ghostwhite;
  font-size: 3vw;
  text-align: center;
  margin: 2em 6em 0 8em;
}
.title {
  margin: 0.1em 0 0.1em 0;
}
.accordion {
  min-width: 20vw;
}
.accordion-btn {
  font-size: 1.5vw;
  font-weight: bold;
  color: black;
  background-color: whitesmoke;
  width: 100%;
  padding: 0 2px 0 2px;
  margin: 0 0 0.15em 0;
  text-align: center;
  cursor: pointer;
}
.accordion-btn:hover {
  color: rgb(16, 143, 194);
  background-color: lightsteelblue;
}
.caret-container {
  text-align: right;
}
.caret-rotate {
  transform: rotate(180deg);
}
.accordion-content {
  font-size: 1.15vw;
  font-weight: 600;
  color: black;
  background-color: rgb(253, 251, 244);
  padding: 8px;
  height: 70vh;
  overflow: auto;
}
.accordion-tweets {
  font-family: 'Trebuchet MS';
  margin-bottom: 1.15em;
}
