.row1 {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.content-box {
  color: white;
  font-family: 'Trebuchet MS';
  text-decoration: none;
  width: 40vw;
  margin-bottom: 5em;
}
.accordion-btn {
  display: flex;
  flex-direction: row;
  font-size: 1.66em;
  font-weight: bold;
  color: black;
  background-color: whitesmoke;
  width: 100%;
  padding: 4px;
  margin: 0.25em 0 0.15em 0;
  text-align: left;
  cursor: pointer;
}
.accordion-btn:hover {
  color: rgb(16, 143, 194);
  background-color: lightsteelblue;
}
.caret {
  margin-left: auto;
}
.caret-rotate {
  transform: rotate(180deg);
  margin-left: auto;
}
.accordion-content {
  display: inherit;
  font-size: 1.2em;
  color: black;
  background-color: rgb(253, 251, 244);
  padding: 5px;
}
.accordion-tweets {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 1.15em;
}

/* .searchContainer {
  display: grid;
  place-content: center;
  margin: 10px;
}
.cardContainer {
  display: grid;
  gap: 0.5em;
  place-content: center;
}
.card {
  grid-area: card;
  display: flex;
  flex-direction: row;
  border-radius: 0.1em;
  padding: 1em;
  background-color: white;
  width: 50vw;
  transition: box-shadow 0.2s ease-in-out, transform 0.1s ease-in-out;
}
.card:hover {
  box-shadow: 3px 3px 3px 1px rgba(83, 83, 180, 0.4);
  transform: scale(1.16);
  border: black 0.05em solid;
}
.ant-card-body {
  margin-left: 0.75em;
}
.ant-card-meta-title {
  font-weight: bold;
  margin-bottom: 0.35em;
}
.buttons {
  margin-block: 0.7em;
  display: flex;
}
.setting:hover {
  color: rgb(0, 117, 250);
}
.edit {
  margin-left: auto;
}
.edit:hover {
  color: rgb(0, 117, 250);
}
.ellipsis {
  margin-inline: auto;
}
.ellipsis:hover {
  color: rgb(0, 117, 250);
} */
