.popular-streams {
  color: white;
  font-family: 'Trebuchet MS';
  text-decoration: none;
}
.homeContainer {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  margin: 2em 6em 5em 18em;
  gap: 1.25em;
  z-index: 1;
}
.accordion {
  width: 27vw;
}
.accordion-btn {
  display: flex;
  flex-direction: row;
  font-size: 1.66em;
  font-weight: bold;
  color: black;
  background-color: whitesmoke;
  width: 100%;
  padding: 4px;
  margin: 0.25em 0 0.15em 0;
  text-align: left;
  cursor: pointer;
}
.accordion-btn:hover {
  color: rgb(16, 143, 194);
  background-color: lightsteelblue;
}
.caret {
  margin-left: auto;
}
.caret-rotate {
  transform: rotate(180deg);
  margin-left: auto;
}
.accordion-content {
  font-size: 1.2em;
  color: black;
  background-color: rgb(253, 251, 244);
  padding: 5px;
}
.accordion-tweets {
  font-family: 'Trebuchet MS';
  margin-bottom: 1.15em;
}
