.topbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 32, 50);
  height: 15vh;
  width: 100vw;
  position: fixed;
  top: 0;
}
.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-inline: auto; */
  gap: 1.25em;
  width: 100%;
  z-index: 5;
}
.card {
  grid-area: card;
  display: flex;
  flex-direction: row;
  border-radius: 0.1em;
  padding: 1em;
  background-color: white;
  width: 50vw;
  transition: box-shadow 0.2s ease-in-out, transform 0.1s ease-in-out;
}
.card:hover {
  box-shadow: 3px 3px 3px 1px rgba(83, 83, 180, 0.4);
  transform: scale(1.16);
  border: black 0.05em solid;
}
.tweetInfo {
  font-weight: bold;
  display: flex;
  margin-bottom: 0.75em;
}
.username,
.time-stamp {
  font-weight: lighter;
  color: grey;
}
.ant-card-body {
  margin-left: 0.75em;
}
.ant-card-meta-title {
  font-weight: bold;
  margin-bottom: 0.35em;
}
.buttons {
  margin-block: 0.7em;
  display: flex;
}
.setting:hover {
  color: rgb(0, 117, 250);
}
.edit {
  margin-left: auto;
}
.edit:hover {
  color: rgb(0, 117, 250);
}
.ellipsis {
  margin-inline: auto;
}
.ellipsis:hover {
  color: rgb(0, 117, 250);
}
