.modal {
  margin-top: 30vh;
  margin-left: 40vw;
  width: 200px;
  background-color: navajowhite;
  text-align: center;
  border: 4px solid darkslateblue;
  border-radius: 3px;
  padding: 1vh;
}
button {
  margin-left: auto;
  border: none;
  font-weight: bold;
  color: navy;
  background-color: lightblue;
}
