html {
  scroll-behavior: smooth;
}

.homepage {
  position: relative;
  scroll-behavior: auto;
}
.popular-streams {
  position: relative;
  color: white;
  font-family: 'Trebuchet MS';
}

.homeContainer {
  display: flex;
  flex-direction: row;
  margin: 0.75em 1.5vw 0 19vw;
  gap: 1.25em;
  max-height: 80vh;
  overflow-y: hidden;
  padding: 1em;
}

.loading-mini,
.loading {
  color: ghostwhite;
  font-family: 'Trebuchet MS';
  border: none;
  animation: blink-blue 1s ease-out 8 alternate;
}
.loading {
  font-size: calc(6px + 3vw);
  text-align: center;
  margin: 2em 6em 0 8em;
}
.loading-mini {
  font-size: 2.25vw;
  background-color: transparent;
}
.loading,
.accordion {
  min-width: 19vw;
}
.accordion-btn {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  font-size: 1.5vw;
  font-weight: bold;
  color: black;
  background-color: rgb(253, 253, 256);
  width: 100%;
  padding: 0.5em 0.6em 0 0.6em;
  margin: 0 0 0.15em 0;
  text-align: center;
  cursor: pointer;
}
.accordion-btn:hover {
  color: rgb(0, 181, 252);
  background-color: rgb(220, 232, 247);
}
.accordion > button {
  align-items: center;
  border: none;
}
.userAvatar {
  border-radius: 1.3em;
}
.title {
  margin-inline: auto;
  margin-block: auto;
  padding-block: 0.2em;
}
.caret-container {
  margin-top: auto;
  margin-left: auto;
  text-align: right;
}
.caret-rotate {
  transform: rotate(180deg);
}
.accordion-content {
  font-size: 1.15vw;
  font-weight: 600;
  color: black;
  background-color: rgb(247, 251, 255);
  padding: 8px;
  height: 70vh;
  overflow: auto;
  cursor: grab;
  padding-bottom: 5em;
}

.accordion-content:-moz-drag-over {
  cursor: grabbing;
}

.single-tweet {
  font-family: 'Trebuchet MS';
  border: 0.01em solid rgba(105, 90, 205, 0.447);
  border-radius: 0.2em;
  background-color: aliceblue;
  margin-block: 1em;
  padding: 0.85em;
}

@keyframes blink-blue {
  to {
    color: rgb(20, 157, 211);
  }
}
